.btn{
  background-color: white;
  padding:.5em 1em;
  border-style: solid;
}
.alert-btn{
  background-color: red;
  color: white;
}
.success{
  background-color: green;
  color: white;
}
.outline-alert{
  border-color: red;
  color: red;
}
.outline-success{
  border-color: green;
  color: green;
}
.alert-box{
  border: 1px solid black;
  width: 300px;
  padding: .5em;
  margin-top: .5em;
}
.alert-box-heading{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
h4{
  margin: 0;
}
.alert-bottom{
  display: flex;
  justify-content: flex-end;
}
.btn-left{
  margin-right: 1em;
}
.danger p,.danger h4 {
  color: red;
}
.danger{
  border: 1px solid red;
  background-color: pink;
}
